# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
#import ipywidgets as widgets
# Import API key
from api_keys import g_key
# Access maps with unique API key
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_csv = "WeatherPy/weather_data.csv"
weather_df = pd.read_csv(weather_csv)
weather_df.head()

,City,Country,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed
0,Qaanaaq,GL,77.4840,-69.3632,35.71,62,4,1.16
1,Albany,US,42.6001,-73.9662,71.47,82,99,3.96
2,Saint-Philippe,RE,-21.3585,55.7679,67.21,72,73,13.78
3,Champerico,GT,14.3000,-91.9167,82.35,78,100,4.61
4,Vaini,TO,-21.2000,-175.2000,78.96,83,20,5.75

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# Drop na values
weather_df = weather_df.dropna()

# Convert Humidity to float and store
humidity = weather_df["Humidity"]

# Convert Lat and Lng to float. 
locations = weather_df[["Latitude", "Longitude"]]

# Create the map
fig = gmaps.figure()

# Create the heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity)
#, dissipating=False, max_intensity=max(weather_df["Humidity"]),point_radius = 2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Customize the size of the figure
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

In [7]:
# Assign the marker layer to a variable
markers = gmaps.marker_layer(coordinates)
# Add the layer to the map
fig.add_layer(markers)
fig

NameError: name 'coordinates' is not defined

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [8]:
weather_df = weather_df.dropna()
weather_df.head()

,City,Country,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed
0,Qaanaaq,GL,77.4840,-69.3632,35.71,62,4,1.16
1,Albany,US,42.6001,-73.9662,71.47,82,99,3.96
2,Saint-Philippe,RE,-21.3585,55.7679,67.21,72,73,13.78
3,Champerico,GT,14.3000,-91.9167,82.35,78,100,4.61
4,Vaini,TO,-21.2000,-175.2000,78.96,83,20,5.75

In [10]:
narrowed_weather_df = weather_df.loc[(weather_df["Temperature"] > 70) & (weather_df["Temperature"] < 80) & (weather_df["Cloudiness"] == 0)]
narrowed_weather_df.reset_index(inplace=True)
narrowed_weather_df.head()

,index,City,Country,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed
0,22,Nikolskoye,RU,59.7035,30.7861,72.81,62,0,6.62
1,41,Adrar,MR,20.5022,-10.0711,79.72,15,0,17.85
2,58,Carnarvon,AU,-24.8667,113.6333,71.67,40,0,4.61
3,125,Kashgar,CN,39.4547,75.9797,79.81,17,0,13.42
4,165,Savinka,RU,50.0785,47.0994,72.00,50,0,10.98

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure